@model OA_CRM.Models.AddMsg
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>写信</title>
</head>
<body>
    <div class="skin1">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(false)
            <fieldset>
                <legend>写信</legend>
                <div class="editor-label">
                    收件人：
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.receiveLst)<span style="color:#f00;"> *</span>
                    @Html.ValidationMessageFor(model => model.receiveLst, "收件人不能为空")
                </div>
                <div class="editor-label">
                    标题：
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.msg.TITLE)
                    @Html.ValidationMessageFor(model => model.msg.TITLE)
                </div>
                <div class="editor-label">
                    内容：
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.msg.CONTENT)
                    @Html.ValidationMessageFor(model => model.msg.CONTENT)
                </div>
                <div class="editor-label">
                    附件：
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.msg.ATTACHMENT_ID)
                    @Html.ValidationMessageFor(model => model.msg.ATTACHMENT_ID)
                </div>                
                <p>
                    <input type="submit" value="保存" />
                </p>
            </fieldset>
        }
        <div>
            @Html.ActionLink("返回主页", "Index")
        </div>
    </div>
</body>
</html>
